/* Flexbox */

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}


.pt-16{
  padding-top: 16px;
}

.pt-3{
  padding-top: 3px;
}


.pl-16{
  padding-left: 16px;
}

.flex1 {
  flex: 1;
}

.justify-content {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}


.flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}


.gap-10 {
  gap: 10px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-32 {
  margin-bottom: 32px;
}


.mt-8 {
  margin-top: 8px;
}
.mt-1 {
  margin-top: 1px;
}

.gap-8 {
  gap: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-16{
  margin-right: 16px;
}
.mr-14{
  margin-right: 14px;
}

.mr-11{
  margin-right: 11px;
}


.mr-8{
  margin-right: 8px;
}
.ml-5{
  margin-left: 5px;
}

.ml-40{
  margin-left: 40px;
}


.ml-16{
  margin-left: 16px;
}

.ml-32{
  margin-left: 32px;
}

.ml-26{
  margin-left: 26px;
}


.pb-8{
  padding-bottom: 8px;
}

.pb-3{
  padding-bottom: 3px;
}
.ml-8{
  margin-left: 8px;
}

.ml-7{
  margin-left: 7px;
}

.mt-3{
  margin-top: 3px;
}

.flex-grow{
  flex-grow: 1;
}

.align-self-center{
  align-self: center;
}

.btn-primary{
      color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.wrap-grid {
  overflow: inherit;
}

.align-left{
  text-align: left;
}
