*{
  padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: MyFont, Arial, Helvetica, sans-serif;
    word-spacing: -2px;
}
@font-face {
  font-family: "MyFont"; /* Tên font bạn đặt */
  src: url('@/assets/fonts/MyFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
